<h1><center>Applicants<center></h1>
<br>
<br>

<center><% @applicants.each do |applicant| %>
  <center><strong><p><%= applicant.name %></p></strong>
  <p><strong>Street address:</strong> <%= applicant.street_address %>, <%= applicant.city %>, <%= applicant.state %>, <%= applicant.zip_code %></p>
  <p><strong>Status: <%= applicant.status %></p></strong> </center>
  <hr>
<% end %>